<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Predict Housing Affordability</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">

<script src="../static/index.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style type="text/css">
  /* Set the size of the div element that contains the map */

</style>



</head>


<body>


 <div class="login">
	<h1>Predict Housing Affordability</h1>

     <!-- Form to enter new data for predictions  -->

    <form action="{{ url_for('predict')}}"method="POST">
      <div class="flex-container">

          <div class="flex-item" id="open">
            <button class="open-button" onclick="openForm()">Click To Open The Map And Select District</button>
          </div>
          <div class="form-popup" id="myForm" style="display: none;">
            <form action="/action_page.php" class="form-container">

              
              <div class="popup" id="map"></div>
      
              <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
              <script
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2mcUS5kH5gIQOTH0jxV3pwxt8mC3TuHs&callback=initMap&libraries=&v=weekly"
              async
              ></script>
              
              </div>
      
              
            </form>
          
        <input type="hidden" value="-1" name="District_code" id="districtCode">
      

        <select name="rooms" required = "required">
          <option value="" disabled selected>Rooms</option>
          <option value="0">Studio</option>
          <option value="1">1 Bed Room</option>	
          <option value="2">2 Bed Rooms</option>	
          <option value="3">3 Bed Rooms</option>	
          <option value="4">4 Bed Rooms</option>
          <option value="5">5 Bed Rooms</option>
          <option value="6">6 Bed Rooms</option>	
        </select>

      

        <div class="slidecontainer flex-item">
          <p>Mosques: <span id="mosques"></span></p>
          <input type="range" name="Mosques_1_km" min="0" max="20" value="0" class="slider" id="mosqueRange"><br>
          
        </div>

        <div class="slidecontainer flex-item">
          <p>Hotels: <span id="hotels"></span></p>
          <input type="range" name="Hotels_1_km" min="0" max="20" value="0" class="slider" id="hotelRange"><br>
          
        </div>


        <div class="slidecontainer flex-item">
          <p>Health Centres: <span id="healthCentres"></span></p>
          <input type="range" name="HealthCentres_1_km" min="0" max="20" value="0" class="slider" id="hCentreRange"><br>
          
        </div>

        <div class="slidecontainer flex-item">
          <p>Cafes: <span id="cafes"></span></p>
          <input type="range" name="cafes_1_km" min="0" max="20" value="0" class="slider" id="cafeRange"><br>
          
        </div>

        <div class="slidecontainer flex-item">
          <p>Bus Stops: <span id="busStops"></span></p>
          <input type="range" name="BusStops_1_km" min="0" max="20" value="0" class="slider" id="busRange"><br>
          
        </div>

        <div class="slidecontainer flex-item">
          <p>Pharmacies: <span id="pharmacies"></span></p>
          <input type="range" name="Pharmacy_1_km" min="0" max="20" value="0" class="slider" id="pharmacyRange"><br>
          
        </div>

        <div class="slidecontainer flex-item">
          <p>Government Departments: <span id="governmentD"></span></p>
          <input type="range" name="Governement_department_1_km" min="0" max="20" value="0" class="slider" id="gDRange"><br>
          
        </div>

        <div class="slidecontainer flex-item">
          <p>Refreshments and FastFood: <span id="refreshmentFF"></span></p>
          <input type="range" name="Refreshment_fastFood_1_km" min="0" max="20" value="0" class="slider" id="rFFRange"><br>
          
        </div>
              <div class="slidecontainer flex-item">
          <p>Petrol Stations: <span id="petrolS"></span></p>
          <input type="range" name="PetrolStation_1_km" min="0" max="20" value="0" class="slider" id="petrolRange"><br>
          
        </div>

        <div class="slidecontainer flex-item">
          <p>Public Parks: <span id="publicP"></span></p>
          <input type="range" name="Public_Parks_1_km" min="0" max="20" value="0" class="slider" id="publicParkRange"><br>
          
        </div>

        <div class="slidecontainer flex-item">
          <p>Cultural Facilities: <span id="culturalF"></span></p>
          <input type="range" name="Cultural_Facility_1_km" min="0" max="20" value="0" class="slider" id="culturalFacRange"><br>
          
        </div>
      </div>




      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
  </div>
   <br>
   <br>
  
   
 </div>
 {{pred}}



<script>


  slider("mosques", "mosqueRange")
  slider("hotels", "hotelRange")
  slider("healthCentres", "hCentreRange")
  slider("cafes", "cafeRange")
  slider("busStops", "busRange")
  slider("pharmacies", "pharmacyRange")
  slider("governmentD", "gDRange")
  slider("refreshmentFF", "rFFRange")
  slider("petrolS", "petrolRange")
  slider("publicP", "publicParkRange")
  slider("culturalF", "culturalFacRange")

</script> 


</body>
</html>
